body{
  background-color:#fefaf6;
}
hr{
  border-color: grey;
  border-style:dotted none none;
  border-width: thick;
  height: 2px;
  width:7%;
}
h1{
  color:#66BFBF;
}
h2{
  color:#66BFBF;
}
h3{
  color:#66BFBF;
}
.c-hero__title {
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 3.5em;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 110%;
}
.u-d-block\@md {
    display: block!important;
}
